// Variables

$lightblue: #5496E6;
$darkblue: #518BDE;

// Grid Elements

.grid {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: repeat(4, 1minmax(200px, 1fr));
    grid-template-columns: repeat(11, minmax(150px, 1fr));
}