button {
    &:active {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.generate {
    grid-row: 3/4;
    grid-column: 6/9;
    justify-self: center;
    margin-right: 120px;

    height: 50px;
    width: 350px;

    background-color: $lightblue;
    border: none;
    color: white;

    -webkit-clip-path: $button-skew;
    clip-path: $button-skew;

    font-family: $fontMont;
    font-size: 18px;
    line-height: 22px;

    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
}

.changeDate {
    grid-row: 2/3;
    grid-column: 4/5;
    justify-self: start;

    font-size: 24px;
    line-height: 19px;
    text-align: center;
    color: white;
    font-family: $fontRoboto;
    font-weight: 100;

    background-color: transparent;
    border: none;

    transform: rotate(-71deg) translate(-50px, -50px);

    i {
        margin-right: 20px;
    }
}