.button {
    grid-row: 3/4;
    grid-column: 6/9;
    justify-self: center;

    height: 50px;
    width: 350px;

    background-color: $lightblue;
    border: none;
    color: white;

    -webkit-clip-path: $button-skew;
    clip-path: $button-skew;

    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;

    box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
}