.date {
    grid-row: 2;
    grid-column: 4/6;
    align-self: center;
    justify-self: center;
    margin-right: 400px;

    color: $grayTwo;
    font-family: $fontRoboto;
    font-size: 220px;
    font-weight: 700;
    border-bottom: 10px solid $grayTwo;
}