.picker {
    grid-column: 3/8;
    grid-row: 2/4;

    padding-bottom: 50px;
    padding-left: 200px;

    input {
        border: none;
        text-align: center;
        background-color: transparent;
        border-bottom: 2px solid #E3B924;
        width: 70%;

        font-size: 80px;
        font-family: 'Roboto Condensed';
        font-weight: bold;
        color: $gray;

        &:focus {
            outline: none;
        }
    }
}