$lightBlue: rgb(27, 42, 83);
$darkGreen: rgb(12, 82, 10);
$Red: rgb(129, 8, 8);
$grayOne: rgb(65, 65, 65);
$grayTwo: rgb(202, 202, 202);
$grayThree: rgb(59, 59, 59);
$gold: #E3B924;
$yellow: #F7D754;

$fontRoboto: 'Roboto Condensed';
$fontMont: 'Montserrat';


$button-skew: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);